/* src/components/General/Spinner.css */

.spinner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 150px;
    margin: 50px 0;
}

.icon-spinner {
    font-size: 3em; /* Make the icon larger */
    color: var(--textMain); /* Color the icon */
    animation: spin 1.2s linear infinite; /* Apply the spin animation */
    margin-bottom: 10px;
}

.spinner-text {
    font-size: 1.1em;
    color: var(--textAccent);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}